* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: hsl(275, 100%, 97%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.img-background {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  background-image: url(assets/images/background-pattern-desktop.svg);
  background-size: cover;
}

.container{
  background-color: #fff;
  z-index: 1000;
  margin-top: 100px;
  border-radius: 10px;
  max-width: 650px;
  padding: 40px;
  margin-bottom: 100px;
}

.title-faq{
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.title-faq h1 {
  font-size: 3.5rem;
  color: hsl(292, 42%, 14%);
}

.info-faq dt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 30px;
  font-weight: 800;
  color: hsl(292, 42%, 14%);
  font-size: 20px;
  cursor: pointer;
}

.info-faq dt:hover{
  color: hsl(292, 42%, 60%);
}

.info-faq dd {
  color: grey;
  line-height: 1.7;
  padding-bottom: 30px;
  display: none;
}

.info-faq dd.ativo{
  display: block;
  animation: slideDown .5s forwards;
}

@keyframes slideDown{

  from{
    opacity: 0;
    max-height: 0px;
  }

  to{
    opacity: 1;
    max-height: 200px;

  }
}

.minus{
  display: none;
}

dt.show .minus{
  display: block;
}

dt.show .plus{
  display: none;
}

@media (max-width: 400px){

  .img-background {
    height: 300px;
  }

  .info-faq dt{
    padding-top: 15px;
  }
}